@model IEnumerable<mvc_MilesTracker.Models.Gas>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DisplayGas</title>
</head>
<body>
    <div>
        
        <h1> </h1>
        @{double TotalGallons = 0.0;
          int StartMiles = 0;
          int FinishMiles = 0;
          double AvgMiles = 0;}
        @foreach (mvc_MilesTracker.Models.Gas item in Model)
        {
        
            if (StartMiles.Equals(0)){
                StartMiles = @item.Miles;}
           else{
                TotalGallons = TotalGallons + @item.Gallons;}
            
            FinishMiles = @item.Miles;
            
            //Should be table.
            <span>Miles: @item.Miles Gallons: @item.Gallons</span><br />
        }
        <br />
        @{
            AvgMiles = (FinishMiles - StartMiles) / TotalGallons;
            
            
        }
        
        <div>Total Gallons: @TotalGallons Avg MPG's @AvgMiles</div>
        <a href="~/Home/DisplayAuto">Back</a> To Auto.

    </div>
</body>
</html>
